<div class="card shadow p-4">
    <h3 class="mb-3">Lista de Citas</h3>

    <a class="btn btn-primary mb-3"
       href="/Citas/Create">
        Nueva Cita
    </a>

    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Paciente</th>
                <th>Doctor</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody id="tablaCitas">
        </tbody>
    </table>
</div>

<script src="~/js/citas.js"></script>