<div class="card shadow p-4">
    <h3>Crear Doctor</h3>

    <form id="formDoctor">
        <div class="mb-3">
            <label>Nombre</label>
            <input id="nombre" class="form-control" required />
        </div>

        <div class="mb-3">
            <label>Especialidad</label>
            <input id="especialidad" class="form-control" required />
        </div>

        <button type="submit" class="btn btn-success">Guardar</button>
    </form>
</div>

<script src="~/js/doctores-create.js"></script>
