<div class="card shadow p-4">
    <h3>Crear Paciente</h3>

    <form id="formPaciente">
        <div class="mb-3">
            <label>Nombre</label>
            <input id="nombre" class="form-control" required />
        </div>

        <div class="mb-3">
            <label>Teléfono</label>
            <input id="telefono" class="form-control" required />
        </div>

        <div class="mb-3">
            <label>Correo</label>
            <input id="correo" class="form-control" required />
        </div>

        <button type="submit" class="btn btn-success">Guardar</button>
    </form>
</div>

<script src="~/js/pacientes-create.js"></script>
