<div class="card shadow p-4">
    <h3 class="mb-3">Lista de Pacientes</h3>

    <a class="btn btn-primary mb-3"
       href="/Pacientes/Create">
        Nuevo Paciente
    </a>

    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Correo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="tablaPacientes">
        </tbody>
    </table>
</div>

<script src="~/js/pacientes.js"></script>